[submodule "themes/goa"]
	path = themes/goa
	url = https://github.com/kaapiandcode/hugo-goa.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
